@import '../../../../../styles.scss';

table {
  thead {
    background-color: #e1e6f7;

    th {
      color: $color-1;
      font-size: 1rem;
      font-weight: 600;
      padding: 12px 8px;
      text-align: left;
    }
  }

  tbody {
    background-color: #fff;
    tr {
      border-bottom: 1px solid #ddd;

      &:hover {
        background-color: #f9f9f9;
      }
    }

    td {
      padding: 12px 8px;
      font-size: 0.875rem;
      color: $color-1;
    }
  }

  .actions {
    display: flex;
    gap: 8px;

    button {
      background-color: $color-1;
      color: #fff;
      border: none;
      padding: 4px 8px;
      border-radius: 4px;
      cursor: pointer;
      font-size: 0.875rem;
      font-weight: 500;
      width: 40px;

      &:hover {
        background-color: $background-color-3;
      }
    }
  }
}

.pagination-table {
  background-color: #e1e6f7;
  padding: 12px 8px;
  font-size: 1rem;
  font-weight: 600;
  color: $color-1;
  text-align: center;
  gap: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -12px;

  button {
    background-color: $color-1;
    color: #fff;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 500;

    &:hover {
      background-color: $background-color-3;
    }

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;

      &:hover {
        background-color: #ccc;
      }
    }
  }

  select {
    border-radius: 4px;
    padding: 4px 0;
    padding-left: 8px;
    border: 2px solid $color-1;
  }
}
