$font-family-primary: 'Poppins', sans-serif;
$body-bg: #ffffff;
$body-color: #333333;
$background-color-1: #a2b2f5;
$background-color-2: #cdd7ff;
$background-color-3: #334155;
$color-1: #092b50;

@mixin text-style($size, $color, $weight: 400) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
}
