@use '../../../../../styles/variables' as *;

.expense-chart {
  width: 100%;
  padding: 10px 20px;

  h2 {
    @include text-style(1.5rem, $color-1, 700);
    margin-bottom: 7px;
  }

  .chart-container {
    margin-top: 20px;
  }
}
