<div class="expense-toolbar-container">
  <div class="expense-toolbar">
    <div class="form-group">
      <label for="year">Année</label>
      <p-select
        [options]="years"
        optionLabel="label"
        optionValue="value"
        class="select"
        [(ngModel)]="filters().year"
        (onChange)="handleYearChange()"
      />
    </div>
    <div class="form-group">
      <label for="month">Mois</label>
      <p-select
        [options]="months"
        optionLabel="label"
        optionValue="value"
        class="select"
        [(ngModel)]="filters().month"
        (onChange)="handleMonthChange()"
      />
    </div>

    <div class="form-group">
      <label for="day">Jour</label>
      <p-select
        [options]="daysInMonth()"
        optionLabel="label"
        optionValue="value"
        class="select"
        [(ngModel)]="filters().day"
        (onChange)="handleDayChange()"
      />
    </div>
    <!--
          <select id="day" value={filters.day} onChange={handleDayChange}>
            {daysInMonth.map((day) => (
              <option key={day.value} value={day.value}>
                {day.label}
              </option>
            ))}
          </select>
        </div>
    -->

    <div class="form-group">
      <label for="category">Catégorie</label>
      <p-select [options]="categories" optionLabel="label" class="select" [(ngModel)]="filters().categoryId" (onChange)="handleCategoryChange()" />
      <!--
          <select
            id="category"
            value={filters.categoryId}
            onChange={handleCategoryChange}
          >
            {categories.map((category) => (
              <option key={category.value} value={category.value}>
                {category.label}
              </option>
            ))}
          </select>
          -->
    </div>
    <div class="form-group">
      <!--
          <button onClick={() => setOpen(true)}>Ajouter une dépense</button>
        -->
    </div>
  </div>
  <!--
      {open && (
        <AddExpenseModal
          categories={categories}
          categoryId={filters.categoryId}
          date={createDateString()}
          onClose={() => setOpen(false)}
          onSaveSuccess={() => {
            handleSaveSuccess();
          }}
        />
      )}
        -->
</div>
