.expense-toolbar {
  label,
  select {
    color: var(--color-color-1);
    font-size: 1rem;
    font-weight: 500;
  }

  label {
    font-weight: 700;
  }

  select {
    background-color: white;
    border: 1px solid var(--color-color-1);
    border-radius: 4px;
    padding: 8px 8px;
    width: 200px;
  }
}
